<% include header.ejs%>
    <div style='background:#F7F7F7;'>
        <div class="am-container am-vertical-align" style="min-height:545px;">
            <div class="am-g am-vertical-align-middle">
                <table class="am-table">
                    <thead>
                        <tr>
                            <th>工作年限</th>
                            <th>最高薪资</th>
                            <th>查看</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% data.forEach(function(item){ %>
                            <tr>
                                <td>
                                    <%= item._id %>
                                </td>
                                <td>
                                    <%= item.maxValue %>
                                </td>
                                <td>
                                    <button type="button" onclick="getList('<%= item._id %>')"  class="am-btn am-btn-success am-round am-btn-xs">看看都有谁</button>
                                </td>
                            </tr>
                            <% }) %>
                    </tbody>
                </table>
                <div class="am-g">
                    <small>注:薪资统计按照拉钩标示的最低值统计，例如：工作年限3-5年，薪资15k-20k，统计时取值为15k</small>
                </div>
                <div class="am-g">
                    <table id="table"></table>
                </div>
            </div>
        </div>
    </div>

    <% include footer.ejs%>
        <link rel="stylesheet" href="./stylesheets/bootstrap-table.min.css">
        <script src='./javascripts/bootstrap-table.min.js'></script>
        <script>
         $('#table').bootstrapTable({
             formatLoadingMessage: function () {
                    return "请稍等，正在加载中...";
                },
             formatNoMatches: function () { 
                    return '无符合条件的记录';
                },
                columns: [{
                        field: 'positionName',
                        title: '职位'
                    }, {
                        field: 'salary',
                        title: '薪资'
                    }, {
                        field: 'workYear',
                        title: '工作年限'
                    }, {
                        field: 'companyName',
                        title: '公司名称'
                    },
                    {
                        field: 'companySize',
                        title: '公司规模'
                    }, {
                        field: 'industryField',
                        title: '行业'
                    },{
                       field: 'positionId',
                       title: '查看',
                       formatter: urlformatter
                    }
                ]
            });
            function getList(workyear){
                $('#table').bootstrapTable('showLoading');
                $.post('/api/getCompanyListByMaxSalary',{workyear:workyear}).done(function(data) {
                     $('#table').bootstrapTable('load', data);
                     $('#table').bootstrapTable('hideLoading');
                });
            }
            function urlformatter(value, row, index){
                return"<a target='_blank' href='http://www.lagou.com/jobs/"+value+".html'>查看</a>";
            }
        </script>