<% include header.ejs%>
<div class="am-container am-vertical-align" style="min-height:545px;">
      <div class="am-g am-vertical-align-middle">
           <div class="am-g" style='margin-top: 10px;'>
                <form class="am-form" role="form">
                    <div class="am-form-group">
                        <input type="input" class="am-form-field" placeholder="名称">
                    </div>
                    <div class="am-form-group">
                        <input type="input" class="am-form-field" placeholder="行业">
                    </div>
                     <div class="am-form-group">
                         <select id="doc-select-1" class='am-form-select'>
                             <option value="option1">选项一...</option>
                             <option value="option2">选项二.....</option>
                             <option value="option3">选项三........</option>
                             </select>
                             <span class="am-form-caret"></span>
                     </div>   
                    <button type="submit" class="am-btn am-btn-default">登录</button>
                 </form>
           </div>
      </div>
 </div>
<% include footer.ejs%>
 <link rel="stylesheet" href="./stylesheets/bootstrap-table.min.css">
 <script src='./javascripts/bootstrap-table.min.js'></script>
 <script>
  var $table = $('#table');
  
 </script>